*{
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
  font-family: 'Space Mono', monospace;
}
.container{
    display: flex;
    justify-content:center;
    gap: 120px;
    align-items: center;
    padding: 265px 119px 349px 77px;
}

.left-content-image{
    width: 100%;
   
}
.left-content-image img{
    width: 100%;
    /* height: 100%; */
}
.right-content{
    width: 70%;
}
.content-title{
    color: #333;
font-family: Space Mono;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -2.24px;
}
.content-des{
    margin: 36px 0px 64px 0px;
    color:  #4F4F4F;
font-family: Space Mono;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.84px;
}
.btn{
    width: 216px;
height: 68px;
border: 0;
background-color: #333;
color: #FFF;
font-family: Space Mono;
font-size: 14px;
font-style: normal;
font-weight: 700;
}
.not-found{
    margin-top: 40px;
    margin-left: 77px;
    color: #333;
font-family: Inconsolata;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.92px;
text-transform: uppercase;
}

@media screen and (max-width: 576px) {
    .container{
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding: 0px 0px 155px 24px;
    /* justify-content:center;
    gap: 120px; 
    align-items: center; */
    /* padding: 265px 119px 349px 77px; */
}
.left-content-image{
    width: 100%;
    margin-top: 64px;
   /* height: auto; */
}
.left-content-image img{
    width: 90%;
    /* height: auto; */
}
.right-content{
    width: 100%;
}
.content-title{
    color: #333;
font-family: Space Mono;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.68px;
}
.content-des{
    color: #4F4F4F;
font-family: Space Mono;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.63px;
}
    
    
}

@media screen and (min-width:576px) and (max-width: 992px) {
    .container{
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding: 0px 0px 155px 24px;
    /* justify-content:center;
    gap: 120px; 
    align-items: center; */
    /* padding: 265px 119px 349px 77px; */
}
}